[submodule "XB/vendor/spdlog"]
	path = XB/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "vendor/bin/premake"]
	path = XB/vendor/premake
	url = https://github.com/premake/premake-core